<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="container">
        <h1>Lista de Usuários e Notas</h1>
        <p>Aqui estão os usuários cadastrados com suas notas.</p>

        <section class="usuarios">
            <div id="usuarios-container" class="cards-container">
                   <!-- LISTA DE USUÁRIOS -->
        <section class="usuarios">
            <h2>Usuários Cadastrados</h2>
            <div id="usuarios-container" class="cards-container">
               
            </div>
        </section>
            </div>
        </section>

        <p style="margin-top:20px; text-align:center;">
            <a href="{{ url_for('index') }}">⬅ Voltar ao Cadastro</a>
        </p>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>